html {
    font-size: 62.5%;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
    margin: 10vh 20vw;
}

.box {
    background-color: rgb(24, 24, 24);
    padding: 50px;
}

h1 {
    color: #9b9b9b;
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 25px;
    margin-top: 25px;
}

p {
    margin: 10px 20px;
    color: whitesmoke;
    font-family: "Space Mono", monospace;
    font-size: 1.4rem;
    text-indent: 2em;
    line-height: normal;
}

.time {
    color: rgb(80, 80, 80);
    font-weight: 600;
}

.name {
    color: rgb(161, 58, 149);
    font-weight: 400;
}

.positive {
    color: rgb(109, 255, 60);
}

.negative {
    color: rgb(242, 69, 69);
}