/* global */
html {
    font-size: 62.5%;
    text-align: center;
}

a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    color: black;
}

/* header */
h1 {
    font-family: "Mynerve", cursive;
    font-size: 4.0rem;
}

/* body */
p {
    font-family: "Cutive Mono", monospace;
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-family: "Cutive Mono", monospace;
    font-size: 1.4rem;
}

/* IGNORE */

.pop-ups {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#pop-up-1 {
    position: absolute;
    top: 25px;
    left: -35px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp1 0.25s forwards;
    animation-delay: 1s;
}

@keyframes myPopUp1 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-2 {
    position: absolute;
    top: 50px;
    right: -50px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp2 0.25s forwards;
    animation-delay: 4s;
}

@keyframes myPopUp2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-3 {
    position: absolute;
    top: 125px;
    right: -125px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp3 0.25s forwards;
    animation-delay: 3.5s;
}

@keyframes myPopUp3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-4 {
    position: absolute;
    top: 200px;
    left: -175px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp4 1s forwards;
    animation-delay: 1.5s;
}

@keyframes myPopUp4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-5 {
    position: absolute;
    top: 275px;
    left: -100px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp5 0.25s forwards;
    animation-delay: 3s;
}

@keyframes myPopUp5 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-6 {
    position: absolute;
    top: 275px;
    left: 200px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp6 0.25s forwards;
    animation-delay: 4.5s;
}

@keyframes myPopUp6 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-7 {
    position: absolute;
    top: 365px;
    left: 300px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp7 0.25s forwards;
    animation-delay: 2s;
}

@keyframes myPopUp7 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

#pop-up-8 {
    position: absolute;
    right: 300px;
    margin: 0 auto;
    opacity: 1;
    visibility: hidden;
    animation: myPopUp8 0.25s forwards;
    animation-delay: 2.5s;
}

@keyframes myPopUp8 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

/* DEFLECT */

.section {
    font-family: "Cutive Mono", monospace;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 800px;
}

#section1 {
    padding-top: 80px;
}

#section2 {
    padding-top: 80px;
}

#section3 {
    padding-top: 80px;
}

#section4 {
    padding-top: 80px;

}

.section a {
    color: black;
}

h4 {
    font-family: "Mynerve", cursive;
    font-weight: 800;
    color: lightslategray
}

/* footer */

h3 {
    font-family: "Cutive Mono", monospace;
    font-size: 1.2rem;
    margin-bottom: 350px;
}